*.exe
*.dll
*.pdb
*.exe.config
*.dll.config
*.zip
*.log
*.vx2
*.sbs
*.sbsB5
*.json
*.jpg
*.acf
*.csv
_CommonRedist
appcache
config
Content
DedicatedServer64
depotcache
Logs
Plugins
steamapps
steamcmd
TempContent
tmp
userdata
MahApps.Metro.xml
NLog.xml
NLog-user.config
NLog.config
Newtonsoft.Json.xml
SteamKit2.xml
Torch.API.xml
Torch.Server.xml
Torch.xml
protobuf-net.xml
Instance/content
Instance/GridBackups
Instance/Saves/**/Backup

Instance/**/*.txt
Instance/FoogsRewards.cfg
Instance/SEDiscordBridge.cfg
Instance/TorchAlertPlugin.cfg
Instance/TorchInfluxDbPlugin.cfg
Instance/TorchMonitorPlugin.cfg
Instance/Saves/**/Storage/**/HeadhunterConfig.xml
Instance/Saves/**/Storage/**/TieredTechBlocksConfig.xml
Instance/Saves/**/Sandbox.sbc
Instance/PerformanceImprovements/Cache